@import "tailwindcss";

@layer components{
  .butn
  {
    padding: .7vw 1.5vw;
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.516);
    font-weight: 600;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 2;
  }
  .butn::after
  {
    content:"";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0%;
    top:110%;
    pointer-events: none;
    z-index: -1;
  }
  .butn:hover::after
  {
    top: 0%;
    transition: top 0.3s ease-in-out;
  }
  .goeey
  {
    animation-name: gooey;
    animation-timing-function: ease-in-out;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(50px);
  }
  .banner
  {
    animation-name: slider;
    animation-timing-function:linear;
    animation-duration:10s;
    animation-iteration-count: infinite;
  }
  .dot
  {
    @apply h-20 w-20 bg-[#FE340A] rounded-full mx-6;
  }
  .circle
  {
    animation-name: revolver;
    animation-timing-function: ease-in-out;
    animation-duration:8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(20px);
  }
  .fixed_image
  {
    @apply fixed top-40 left-1/2 h-85 w-70 rounded-xl z-50 object-cover;
    opacity: 0;
    pointer-events: none;
  }
  .project:hover .fixed_image
  {
    opacity: 1;
  }
  @keyframes slider {
    from
    {
      transform: translateX(0%);
    }
    to
    {
      transform: translateX(-100%);
    }
  }
  @keyframes gooey {
    0%
    {
      transform: skewX(-20deg);
    }
    100% 
    {
      transform: skewX(30deg);
    }
  }
  @keyframes revolver 
  {
    0%{
      transform: translateY(50%) ;
      transform: translateX(20%);
      transform: skewY(-10deg);
    } 

    100%
    {
      transform: translateY(25%);
      transform: translateX(10%);
      transform: skewY(10deg);

    }
  }
}

